@using bS.Sked.WMC.Helpers
@model bS.Sked.ViewModel.Elements.SmtpSettingViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">New Smtp Setting</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <div class="form-horizontal">
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.FormGroupCheckBox(model => model.IsActive, null)
                @Html.FormGroup(model => model.Description, null)
                @Html.FormGroup(model => model.Name, null)
                @Html.FormGroupCheckBox(model => model.IsAuthRequired, null)
                @Html.FormGroupCheckBox(model => model.IsDefault, null)
                @Html.FormGroupCheckBox(model => model.IsSslEnabled, null)
                @Html.FormGroup(model => model.SmtpAccountUsername, null)
                @Html.FormGroup(model => model.SmtpAccountPassword, null)
                @Html.FormGroup(model => model.SmtpServerAddressOrIp, null)
                @Html.FormGroup(model => model.SmtpServerPort, null)

                <div class="box-footer">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Create" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    </div>
}