@using bS.Sked.WMC.Helpers
@model bS.Sked.ViewModel.Elements.SmtpSettingViewModel

@{
    ViewBag.Title = "Details";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Smtp Setting</h3>
        @Html.EditLink(model => model.Id, htmlAttributes: new  { @class = "pull-right"  })
    </div>
    <div class="box-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAuthRequired)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAuthRequired)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDefault)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDefault)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsSslEnabled)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsSslEnabled)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SmtpAccountPassword)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SmtpAccountPassword)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SmtpAccountUsername)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SmtpAccountUsername)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SmtpServerAddressOrIp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SmtpServerAddressOrIp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SmtpServerPort)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SmtpServerPort)
                </dd>

            </dl>


        <div class="box-footer">
            @Html.BackToIndexLink()
        </div>
        <p>
          
        </p>

    </div>
</div>

