@model IEnumerable<bS.Sked.ViewModel.Elements.SmtpSettingViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Smtp Settings</h3>
        <a href="@Url.Action("Create")"><i class="fa fa-plus button-a pull-right"></i></a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">

        <table class="table table-bordered table-condensed table-responsive">
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.IsAuthRequired)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.IsDefault)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.IsSslEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SmtpServerAddressOrIp)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.SmtpServerPort)
                    </th>
                    <th style="width:68px;"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.IsAuthRequired)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDefault)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.IsSslEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SmtpServerAddressOrIp)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.SmtpServerPort)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                            <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>
