@model IEnumerable<bS.Sked.WMC.ViewModel.TaskTeaserViewModel>

@Html.ActionLink("Create New", "TaskAdd", null, new { @class = "btn btn-default pull-right" })

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainObjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastExecution)
            </th>
            <th style="width: 90px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         
                string rowColor = "";
                if (item.IsActive)
                {
                    rowColor = "";
                }
                else
                {
                    rowColor = "active";
                }
               
            
            <tr class="@rowColor">
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainObjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastExecution)

                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Task functions">
                        <div class="btn-group-xs mr-2" role="group" aria-label="First group">
                            @Html.ActionLink(" ", "Edit", "Tasks", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                            @Html.ActionLink(" ", "Details", "Tasks", new { id = item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-eye-open" })
                        </div>
                        <div class="btn-group-xs mr-2" role="group" aria-label="Second group">
                            @Html.ActionLink(" ", "Delete", "Tasks", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
